@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin: 50px 0;
}
.box {
  height: 300px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto 50px;
  background-color: #eee;

.box1 {
  display: none;
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}

.box2 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}

.box2-ext {
  border: 10px solid black;
}

.box3 {
  background-color: #0000FF;
  height: 200px;
  width: 200px;
}

.box4 {
  background-color: #FFFFFF;
  height: 200px;
  width: 200px;
  float: left;
}

.bg1 {
  background-color: #FFAAAA;
}

.bg2 {
  background-color: #FFBBBB;
}

.bg3 {
  background-color: #FFCCCC;
}

.bg4 {
  background-color: #FFDDDD;
}

#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}


