<div class="wrap">
  <ul id="tab-menu">
    <li><%= link_to "about", tests_about_path %></li>
    <li><%= link_to "home", tests_top_path %></li>
  </ul>

  <div id="tab-contents">
    <div id="about" class="tab1">
      <p>TAB1のテキストが入ります。</p>
    </div>

    <div id="home" class="tab2">
      <p>TAB2のテキストが入ります。TAB2のテキストが入ります。</p>
    </div>
  </div>
</div>