<%= javascript_pack_tag 'app3' %>
<%= stylesheet_link_tag 'tests', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>10章【ハンバーガーメニューを作ってみよう】</h1>

<div id="sp-menu">
  <h2>MENU</h2>
  <ul>
    <li><a href="#">MENU1</a></li>
    <li><a href="#">MENU2</a></li>
    <li><a href="#">MENU3</a></li>
    <li><a href="#">MENU4</a></li>
  </ul>
</div>

<div id="hm-icon">
  <a class="menu-trigger" href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>

<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>

